<div class="jumbotron">
    <h1>Test Language Culture - currency</h1>
    <p class="lead">Modifying the server and culture in the User Interface.
    The Model Binder considers language that is sent in the HTTP header (Accepted-Language) for binding.</p>
</div>
<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Here is an example with the number \"1234.56\" in pt-BR format", "Moeda", new { valor = "1.124,56" })
    </div>
</div>
